*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #fff;
  background-color: #161616;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #fff;
}

@media (max-width: 1366px) {
  .title {
    font-size: 38px;
    line-height: 130%;
  }
}

.btn {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  padding: 10px 30px;
  display: inline-block;
}

.container {
  max-width: 1577px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1366px) {
  .container {
    max-width: 1177px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.first-screen {
  background-image: url("../images/bg-top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 38px;
}

@media (max-width: 1366px) {
  .first-screen {
    background-size: 100% 75%;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  border-radius: 50px;
  padding: 10px 30px;
}

.menu__list-item + .menu__list-item {
  margin-left: 56px;
}

.menu__list-link {
  font-size: 16px;
  line-height: 150%;
}

.top__title {
  margin-top: 200px;
  font-size: 64px;
  line-height: 140%;
  font-weight: 700;
  margin-bottom: 60px;
}

.top__countdown {
  padding-bottom: 290px;
}

@media (max-width: 1366px) {
  .top__title {
    margin-top: 140px;
    font-size: 60px;
    margin-bottom: 50px;
  }
  .top__countdown {
    padding-bottom: 130px;
  }
}

.top .countdown__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

.top .time {
  background-color: #121212;
  text-align: center;
  padding: 20px 30px;
  width: 102px;
  height: 112px;
  margin-right: 15px;
}

.top .time h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
}

.top .time small {
  line-height: 140%;
  color: #ffffff;
  opacity: 0.4;
}

.statistic {
  padding: 30px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background-color: #121212;
  margin-bottom: 200px;
}

.statistic__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistic__btn {
  margin-right: 80px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.statistic__students-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.statistic__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  opacity: 0.4;
}

.statistic__sum {
  padding-left: 20px;
}

.statistic__profit {
  margin-bottom: 8px;
}

.statistic__profit-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistic__student-profit {
  margin-right: 30px;
  opacity: 0.4;
}

.statistic__goal-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistic__goal-line {
  position: relative;
  background-color: #fff;
  width: 714px;
  height: 6px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-bottom: 5px;
}

.statistic__goal-line::before {
  content: "";
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  width: 40%;
  height: 6px;
  z-index: 10;
  position: absolute;
}

.statistic__goal-sum {
  opacity: 0.4;
}

@media (max-width: 1366px) {
  .statistic {
    padding: 20px 0;
    font-size: 15px;
    line-height: 140%;
  }
  .statistic__goal-line {
    width: 513px;
  }
  .statistic .statistic__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

.activity {
  margin-bottom: 200px;
}

.activity__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity__images {
  border: 20px solid transparent;
  -o-border-image: linear-gradient(#c89afc, #7c6afa);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#c89afc), to(#7c6afa));
     border-image: linear-gradient(#c89afc, #7c6afa);
  border-image-slice: 1;
  width: 526px;
  height: 499px;
  margin-right: 140px;
}

.activity__img {
  margin-top: 100px;
}

.activity__description {
  width: 656px;
  padding: 0 10px;
}

.activity__description-title {
  padding-bottom: 45px;
  font-weight: 700;
}

.activity__description-text {
  font-size: 16px;
}

.start {
  margin-bottom: 200px;
}

.start__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start__title {
  margin-bottom: 49px;
  margin-left: 20px;
  padding-left: 108px;
  position: relative;
}

.start__title::before {
  content: "";
  background-image: url("../images/start-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 127px;
  height: 127px;
  position: absolute;
  left: -35px;
  top: -42px;
}

.start__text {
  opacity: 0.5;
  margin-bottom: 80px;
}

.start__rate-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 324px;
}

.start__rate-item {
  width: 324px;
}

.start__rate-title {
  font-size: 36px;
}

.start__rate-body {
  margin-top: 20px;
  height: 80px;
  background: #c89afc;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #c89afc), to(#7c6afa));
  background: linear-gradient(90deg, #c89afc 35%, #7c6afa 100%);
  margin-bottom: 35px;
}

@media (max-width: 1366px) {
  .start .start__rate-item {
    width: 270px;
  }
  .start .start__rate-text {
    width: 264px;
  }
  .start .start__text {
    margin-bottom: 50px;
  }
}

.start__rate-text {
  opacity: 0.5;
  width: 306px;
  font-size: 14px;
}

.start .body-middle {
  margin-top: 30px;
  height: 60px;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #7c6afa), to(#c89afc));
  background: linear-gradient(90deg, #7c6afa 35%, #c89afc 100%);
  margin-bottom: 45px;
}

.start .body-small {
  margin-top: 45px;
  height: 30px;
  margin-bottom: 60px;
}

.start .body-smallest {
  margin-top: 55px;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #7c6afa), to(#c89afc));
  background: linear-gradient(90deg, #7c6afa 35%, #c89afc 100%);
  height: 10px;
  margin-bottom: 70px;
}

.work {
  margin-bottom: 200px;
}

.work__title {
  text-align: center;
  margin-bottom: 120px;
}

.work__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__item {
  width: 368px;
  padding: 0 5px;
  text-align: center;
}

.work__item-img {
  margin-bottom: 60px;
}

.work__item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 30px;
}

.work__item-text {
  font-size: 16px;
  line-height: 160%;
  opacity: 0.8;
  text-align: center;
}

.partners {
  margin-bottom: 243px;
}

.partners__title {
  margin-bottom: 90px;
  margin-left: 20px;
  padding-left: 110px;
  position: relative;
}

.partners__title::before {
  content: "";
  width: 127px;
  height: 127px;
  background-image: url("../images/partner-icon.svg");
  background-repeat: no-repeat;
  left: -20px;
  top: 0;
  position: absolute;
}

@media (max-width: 1366px) {
  .partners .partners__logos {
    width: 1100px;
    height: 210px;
  }
}

.programms {
  text-align: center;
  margin-bottom: 216px;
}

.programms__logo {
  margin-bottom: 75px;
}

.programms__title {
  margin-bottom: 30px;
  font-weight: 700;
}

.programms__text {
  opacity: 0.5;
  margin-bottom: 80px;
}

.programms__graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.programms__graph-odd {
  margin-right: 60px;
  position: relative;
}

.programms__graph-even {
  margin-left: 75px;
  text-align: left;
  position: relative;
}

.programms .item-odd {
  margin-bottom: 95px;
  text-align: right;
}

.programms .item-odd:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 0px;
  top: 46px;
  right: -60px;
  opacity: 0.3;
  border: 1px solid #ffffff;
}

.programms .item-odd:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 0px;
  top: 227px;
  right: -60px;
  opacity: 0.3;
  border: 1px solid #ffffff;
}

.programms .item-odd:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 0px;
  bottom: 314px;
  right: -60px;
  opacity: 0.3;
  border: 1px solid #ffffff;
}

.programms .item-odd:nth-child(4)::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 0px;
  bottom: 135px;
  right: -60px;
  opacity: 0.3;
  border: 1px solid #ffffff;
}

.programms .item-even {
  margin-top: 95px;
}

.programms .item-even:nth-child(1):before {
  content: "";
  position: absolute;
  width: 40px;
  height: 0px;
  opacity: 0.3;
  left: -75px;
  top: 137px;
  border: 1px solid #ffffff;
}

.programms .item-even:nth-child(2):before {
  content: "";
  position: absolute;
  width: 40px;
  height: 0px;
  opacity: 0.3;
  left: -75px;
  top: 320px;
  border: 1px solid #ffffff;
}

.programms .item-even:nth-child(3):before {
  content: "";
  position: absolute;
  width: 40px;
  height: 0px;
  opacity: 0.3;
  left: -75px;
  bottom: 224px;
  border: 1px solid #ffffff;
}

.programms__graph-item {
  width: 230px;
}

.programms__item-subtitle {
  margin-bottom: 15px;
  opacity: 0.5;
}

.programms__item-text {
  font-weight: 400;
  font-size: 18px;
}

.programms__graph-scheme {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  width: 6px;
  height: 677px;
}

.tutors {
  margin-bottom: 200px;
}

.tutors__title {
  position: relative;
  margin-bottom: 113px;
  padding-left: 155px;
}

.tutors__title::before {
  content: "";
  background-image: url("../images/tutor-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 127px;
  height: 127px;
  position: absolute;
  top: -61px;
  left: 0;
}

.tutors__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tutors__item {
  text-align: center;
}

.tutors__item + .tutors__item {
  margin-left: 230px;
}

.tutors__item-img {
  border-radius: 50%;
  margin-bottom: 40px;
}

.tutors__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 15px;
}

.tutors__post {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.4;
  margin-bottom: 40px;
}

.tutors__btn {
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 10px 30px;
}

.footer {
  margin-bottom: 106px;
}

.footer__inner {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
}

.footer__title {
  margin-bottom: 30px;
}

.footer__subtitle {
  margin-bottom: 60px;
  text-align: center;
  opacity: 0.5;
  font-weight: 400;
}

.footer__email {
  padding-right: 105px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
}

.footer__emai-line {
  width: 353px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50px 0px 0px 50px;
  padding: 15px 40px 15px 30px;
  border: none;
  font-size: 14px;
  color: #fff;
  outline: none;
}

.footer__subscribe-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  padding: 10px 30px;
  width: 160px;
  height: 44px;
  color: #fff;
  border: none;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.footer__emai-line::-webkit-input-placeholder {
  color: #fff;
}

.footer__emai-line:-ms-input-placeholder {
  color: #fff;
}

.footer__emai-line::-ms-input-placeholder {
  color: #fff;
}

.footer__emai-line::placeholder {
  color: #fff;
}

.footer__emai-line::-webkit-input-placeholder {
  color: #fff;
}

.footer__emai-line::-moz-placeholder {
  color: #fff;
}

.footer__emai-line:-moz-placeholder {
  color: #fff;
}

.footer__emai-line:-ms-input-placeholder {
  color: #fff;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-wrapper {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 30px;
}

.footer__social-img {
  padding: 14px 10px;
}

.menu__btn {
  width: 40px;
  height: 30px;
  display: none;
}

.menu__btn span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  left: 0;
  position: absolute;
  top: 14px;
}

.menu__btn::after, .menu__btn::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #fff;
  left: 0;
}

.menu__btn::before {
  top: 0;
}

.menu__btn::after {
  bottom: 0;
}

@media (max-width: 1180px) {
  .statistic__goal-line {
    width: 445px;
  }
  .statistic__students-inner {
    margin-right: -50px;
  }
}

@media (max-width: 1125px) {
  .activity__images {
    margin-right: 38px;
  }
  .start .start__rate-item {
    width: 200px;
  }
  .start .start__rate-text {
    width: 200px;
  }
}

@media (max-width: 1071px) {
  .header__btn {
    padding: 6px 15px;
    font-size: 14px;
  }
  .menu__list-link {
    font-size: 14px;
    line-height: 150%;
  }
  .first-screen {
    background-size: 100% 67%;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 30px;
  }
  .top__title {
    font-size: 45px;
  }
  .top .time {
    padding: 10px 20px;
    width: 89px;
    height: 95px;
  }
  .work__item-title {
    font-size: 20px;
  }
  .work__item-text {
    font-size: 14px;
  }
  .work__title {
    margin-bottom: 87px;
  }
  .work {
    margin-bottom: 95px;
  }
  .work__item-img {
    margin-bottom: 33px;
  }
}

@media (max-width: 992px) {
  .statistic__goal-line {
    width: 360px;
  }
  .statistic__goal-line::before {
    width: 40%;
  }
  .statistic__student-profit {
    margin-right: 17px;
  }
  .statistic__students-inner {
    margin-right: 45px;
  }
  .statistic__students-inner {
    display: block;
  }
  .statistic__sum {
    padding-left: 0;
  }
  .statistic__btn {
    margin-right: 36px;
  }
  .statistic {
    font-size: 13px;
    line-height: 139%;
  }
  .activity__description-title {
    font-size: 30px;
  }
  .activity__description-text {
    font-size: 14px;
  }
  .start__rate-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .start .start__rate-text {
    margin-bottom: 20px;
  }
  .start .start__rate-item {
    width: 250px;
  }
  .start .start__rate-text {
    width: 250px;
    padding-bottom: 10px;
  }
  .start__rate-body {
    margin-bottom: 25px;
  }
  .start .body-middle {
    margin-top: 10px;
  }
  .start .body-small {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .start .body-smallest {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .work__inner {
    display: block;
  }
  .work__item {
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

@media (max-width: 890px) {
  .first-screen {
    background: none;
  }
  .header__menu-list {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #1b1b1b;
    margin-top: 30px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
  .menu__btn {
    display: block;
    position: absolute;
    left: 165px;
    top: 47px;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 0;
  }
  .menu__list-link {
    display: block;
    padding: 13px 0;
  }
  .header__menu-list.header__menu-list--active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .activity__images {
    display: none;
  }
}

@media (max-width: 860px) {
  .statistic__inner {
    display: block;
  }
  .statistic__students-inner {
    display: block;
  }
  .statistic__profit {
    margin-top: 10px;
  }
  .statistic__btn {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .statistic__goal-line::before {
    width: 40%;
  }
}

@media (max-width: 650px) {
  .work__title {
    margin-bottom: 47px;
    font-size: 30px;
  }
}

@media (max-width: 610px) {
  .top__title {
    font-size: 35px;
  }
  .top .time {
    padding: 5px 15px;
    width: 79px;
    height: 70px;
  }
  .top .time h2 {
    font-size: 28px;
    line-height: 120%;
  }
  .statistic,
  .activity,
  .start,
  .work {
    margin-bottom: 85px;
  }
}

@media (max-width: 480px) {
  .header__btn {
    padding: 5px 10px;
    font-size: 12px;
  }
  .menu__btn {
    left: 105px;
  }
  .top__title {
    margin-top: 93px;
    font-size: 32px;
    margin-bottom: 40px;
  }
  .top .countdown__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 51px;
  }
  .top .time {
    margin-top: 10px;
  }
  .start__title {
    margin-bottom: 40px;
    font-size: 30px;
    padding-left: 50px;
  }
  .start__title::before {
    background-size: 60%;
    height: 100px;
    width: 100px;
  }
  .start .start__text {
    margin-bottom: 26px;
    font-size: 12px;
  }
  .work__title {
    font-size: 28px;
  }
}

@media (max-width: 410px) {
  .work__item {
    width: 300px;
  }
  .work__item-text {
    font-size: 12px;
  }
  .work__item-title {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  .start__rate-inner {
    width: 270px;
  }
  .start .start__text {
    margin-bottom: 20px;
    font-size: 11px;
  }
  .work__item {
    width: 270px;
  }
  .work__title {
    font-size: 24px;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 14px;
  }
  .top__title {
    font-size: 30px;
  }
  .start__title {
    font-size: 26px;
  }
  .start .start__text {
    font-size: 11px;
  }
}
/*# sourceMappingURL=style.css.map */